
body {background-color: rgb(0, 149, 226)}

.whole-page {
  background-color: rgb(255, 255, 255);
  padding: 3em;
  margin: 2em;
  display:
}

.Introduction {
    background-color: rgb(245,245,220);
    color: rgb(0,0,0);
    padding: 5em;
    text-align: center;
    display:  flow-root;
}


.painting {
  width: 900px;
  height: 200px;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-width: 1em;
  z-index: 1;
}

/* 5 Rectangles */

#Blue {
  width: 150px ;
  height: 185px;
  margin: auto;
  background-color: #294C93 ;
  position: relative;
  z-index: 2;
  float: left;
}

#Green {
  width: 150px ;
  height: 185px;
  margin: auto;
  background-color: #3C901D ;
  position: relative;
  z-index: 3;
  float: left;
}

#Yellow {
  width: 150px ;
  height: 185px;
  margin: auto;
  background-color: #F3D40E ;
  position: relative;
  z-index: 4;
  float: left;
}

#Orange {
  width: 150px ;
  height: 185px;
  margin: auto;
  background-color: #F6980A ;
  position: relative;
  z-index: 5;
  float: left;
}

#Red {
  width: 150px ;
  height: 185px;
  margin: auto;
  background-color: #CB2828 ;
  position: relative;
  z-index: 6;
  float: left;
}
